@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    padding: 0px;
    margin:0px;
}

body{
    background-image: url("../assets/backcover.svg");
    background-position: top right;
    background-size: 60%;
    background-repeat: no-repeat;
}

.main{
    margin:50px 100px;
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 700; 
}

.menu img{
    display: none;
    width: 30px;
}

.logo img{
    width: 100px;
}

.nav-item{
    display: inline;
    margin:0px 20px;
    color:#1F2873;
}

.heading{
    font-size: 30px;
    color:#3D4693;
}

.content{
    margin-top:100px;
    display: flex;
}

.left-content{
    width: 50%;
}

.about p{
    margin:30px 0px;
    line-height: 30px;
    color: #6B6D8E;
}

.bg{
    width: 50%;
}

img[alt="intro-img"]{
    width: 600px;
}

.vector-img{
    width: 80px;
}

.vector-dot{
    width: 80px;
}

.signin button{
    padding:2px 15px;
    font-family: unset;
    font-weight: 700;
    font-size: 15px;
    border:none;
    border-radius: 10px;
    background:linear-gradient(90deg, #965CF2 30%, #FF8ADC);
    color:#ffffff;
}

.learn-more button{
    padding:15px 40px;
    font-family: unset;
    font-weight: 700;
    font-size: 20px;
    border:none;
    border-radius: 25px;
    background:linear-gradient(90deg, #965CF2 30%, #FF8ADC);
    color:#ffffff;
}

@media (max-width : 1000px) {
    .main{
        margin:50px 50px;
    }    

    .menu img{
        display: block;
    }

    .signin{
        display: none;
    }

    img[alt="intro-img"]{
        width: 400px;
    }

    .vector-img{
        width: 40px;
    }
    
    .vector-dot{
        width: 40px;
    }
    
    .heading{
        font-size: 20px;
        color:#3D4693;
    }

    .about p{
        font-size: 15px;
        margin: 20px 0px;
    }
    

    .learn-more button{
        padding:10px 30px;
        font-family: unset;
        font-weight: 700;
        font-size: 15px;
        border:none;
        border-radius: 25px;
        background:linear-gradient(90deg, #965CF2 30%, #FF8ADC);
        color:#ffffff;
    }
}

@media (max-width : 800px) {
    .main{
        margin: 30px 30px;
    }

    .nav{
        display: none;
    }

    .content{
        flex-direction: column;
    }

    .left-content{
        width: 100%;
    }

    .bg{
        margin-top: 50px;
        width: 100%;
    }

    img[alt="intro-img"]{
        width: 350px;
    }
}