@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    padding: 0px;
    margin:0px;
}

body{
    background-image: url("../assets/backcover.svg");
    background-position: top right;
    background-size: 60%;
    background-repeat: no-repeat;
}

.main{
    margin:50px 150px;
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 700; 
}

.logo img{
    width: 100px;
}

.nav-item{
    display: inline;
    margin:0px 20px;
    color:#1F2873;
}

.heading{
    font-size: 30px;
    color:#3D4693;
}

.content{
    margin-top:100px;
}

.left-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 320px;
    width: 30%;
}

.bg{
    position: absolute;   
    right:0px;
    top:100px;
}

img[alt="intro-img"] {
    width: 80%;
}

.about p{
    line-height: 30px;
    color: #6B6D8E;
}

.signin button{
    padding:2px 15px;
    font-family: unset;
    font-weight: 700;
    font-size: 15px;
    border:none;
    border-radius: 10px;
    background:linear-gradient(90deg, #965CF2 30%, #FF8ADC);
    color:#ffffff;
}

.learn-more button{
    padding:15px 40px;
    font-family: unset;
    font-weight: 700;
    font-size: 20px;
    border:none;
    border-radius: 25px;
    background:linear-gradient(90deg, #965CF2 30%, #FF8ADC);
    color:#ffffff;
}